.normalservice-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .normalservice-inner-container{
    max-width: 1400px;
  }

  .normalservice-heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .image-card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-card:hover .image {
    transform: scale(1.1);
  }
  
  .details-overlay {
    position: absolute;
    bottom: -60%;
    left: 0;
    width: 100%;
    height: 60%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transition: bottom 0.3s ease-in-out;
  }
  
  .image-card:hover .details-overlay {
    bottom: 0;
  }
  
  .details-text {
    margin: 0;
    text-align: left;
  }
  
  .details-overlay p {
    margin: 10px 0;
  }
  
   .know-more-button {
    background: #f4b12a;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    gap: 5px;
    cursor: pointer;
  }
  
  .know-more-button:hover {
    font-weight: bold;
  }
  
  @media (max-width: 480px) {
    .image-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  .preload-image {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url('./../../assets/images/servicepage2.jpg');
    background-image: url('./../../assets/images/servicapage8.jpg');
    background-image: url('./../../assets/images/servicedk1.jpeg');
    background-image: url('./../../assets/images/Specialservice4.jpg');
    background-image: url('./../../assets/images/servicepage5.jpg');
    background-image: url('./../../assets/images/servicepage1.jpg');
  }
  