.specialservicedetail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.specialservice-inner-container {
    max-width: 1400px;
}

.special-service-content img {
    width: 45%;
    object-fit: cover;
    border-radius: 20px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.special-container {
    display: flex;
    gap: 30px;
}

.special-container p {
    font-size: 19px;
    line-height: 1.65;
    margin-top: 10px;
    text-align: justify;
}

.special-service-ques{
    font-size: 25px;
    margin-top: 40px;
    text-align: justify;
}

.special-service-answers{
    font-size: 19px;
    line-height: 1.6;
    text-align: justify;
    margin: 12px 0 0 20px;
}

.special-service-conclusion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-size: 20px;
    font-weight:600;
    line-height: 1.6;
    margin: 40px 0 30px 0;
}

.breadcrumbs {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.breadcrumbs span{
    font-weight: bold;
}

.breadcrumbs a:hover{
    text-decoration: underline;
    font-weight: normal;
}

@media (max-width: 1024px) {
    .special-container {
        flex-direction: column;
    }

    .specialservicedetail-container{
        padding: 30px 20px;
    }

    .special-container {
        flex-direction: column;
    }
    .special-service-content img {
        width: 100%;
    }
}

@media (max-width: 468px){
    .special-container p {
        font-size: 15px;
    }
    
    .special-service-ques{
        font-size: 20px;
        margin-top: 20px;
        text-align: left;
    }
    
    .special-service-answers{
        font-size: 15px;
        line-height: 1.6;
        text-align: justify;
        margin: 12px 0 0 20px;
    }
    
    .special-service-conclusion{
        font-size: 17px;
        font-weight:600;
        line-height: 1.3;
    }
}