.footer {
  background-color:#D6C0B5;
  padding: 20px;
  text-align: left;
  color: #333;
  border-top: 1px solid #bdbdbd;
  position: relative;
  overflow: hidden;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

h3 {
  margin-bottom: 10px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}


a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  align-items: center;
}

a:hover {
  font-weight: bold;
  color: #555;
}

.social-media-links{
  display: flex;
  margin-left: -20px;
}

.social-media-links li {
  list-style: none;
}

.social-media-links li a {
  font-size: 20px;
}

.footer-section p {
  margin: 5px 0;
}


.footer-section p svg {
  margin-right: 10px;
}

@media (max-width: 768px) {
  a {
    display: flex;
  }
  
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    position: relative;
  }

  .footer-section:nth-child(1),
  .footer-section:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
