.blogpage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 20px;
}

.blog-inner-container{
  max-width: 1400px;
  padding: 20px 0;
}

.blogpage-header {
  text-align: center;
  padding: 20px 0;
}

.blogpage-header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.blogpage-header p {
  font-size: 1.2em;
  color: #555;
}

.blog-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.blog-image-conatiner{
  height: 300px;
  width: 300px;
}

.blog-image-conatiner img{
  width: 200px;
  height: 200px;
}

.image {
  height: 280px;
  width: 210px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.blog-post {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  height: 300px;
  width: 650px;
  gap: 20px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.blog-post:hover{
  transform: scale(1.02);
}

.text-limit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.blog-details h2{
  margin-bottom: 10px;
}

.read-more {
  display: block;
  padding: 10px;
  background: #000;
  border: 1px solid black;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  margin-left: 0px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.read-more:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 1024px) {
  .blog-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 468px) {
  .blog-post{
    flex-direction: column;
    width: auto;
    height: auto;
  }

  .image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
